@import "print-features.css" print;

.feature-card__header {
  border-top: solid;
  padding: 0.25rem 0;
  border-bottom: dotted;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-width: 0.2rem;
}
.feature-card {
  max-width: 19vw !important;
}
.feature-card__body {
  line-height: 125%;
  white-space: pre-line;
  padding: 8px 0px;
  /* font-size: 0.75rem;
  font-family: 'Arial Narrow', Helvetica, sans-serif !important; */
}
@media only screen and (max-width: 1200px) {
  .feature-card {
    /* background-color: red; */
    max-width: 70vw !important;
  }
}

@media print {
  .feature-card {
    max-width: 70vw !important;
  }
}

.active-boder {
  border: 1.4px solid #1976d2;
}

@media only screen and (max-width: 600px) {
  .feature-card {
    max-width: 98% !important;
  }
}

.pricing-card__body {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  line-height: 125%;
}
.pricing-card__body--description,
.pricing-card__body--price {
  font-weight: 900;
}
