/* @import url("../assets/font.css"); */
@import "print.css" print;
.features__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.modal-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gov-info {
  width: 100%;
  /* margin-left: 5%; */
  min-height: 80%;
  border: 2px dashed lightgray;
  display: flex;
  justify-content: center;
}
.gov-info > h2 {
  margin-top: 50%;
  letter-spacing: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

@media print {
  .edit-header {
    display: none;
  }
}
.select {
  margin-left: 7%;
  gap: 10px;
}
.check > svg {
  /* background-color: red !important; */
}

@media screen and (max-width: 840px) {
  .select {
    margin-left: 2%;
    gap: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .edit {
    width: 143vw !important;
    margin: auto;
  }
}
.monroney--columns {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(100vw - calc(500px + 2rem));
  max-height: calc(100vh + 400px);
  align-content: flex-start;
  align-items: flex-start;
  gap: 1rem 2rem;
  /* border: solid; */
  /* flex-shrink: 0;  */
}
.monroney--columns {
  /* align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  max-height: calc(100vh + 150px);
  flex: 1; */
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* flex-shrink: 0; */
  flex-wrap: wrap;
  gap: 3rem 1rem;
  max-height: calc(100vh + 50px);
  flex: 1 1 60%;
}

.monroney--columns > div {
  flex: 0 0 auto;
  width: 40%;
}
.edit__body {
  flex-wrap: wrap;
}
.monroney-govt {
  flex: 0 0 25%;
}
.monroney--columns > div:last-child {
  flex-basis: 100%;
}
