/* @import url("../assets/font.css"); */
@import "print.css" print;

.features__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gov-info {
  width: 100%;
  /* margin-left: 5%; */
  min-height: 80%;
  border: 2px dashed lightgray;
  display: flex;
  justify-content: center;
}

.gov-info > h2 {
  margin-top: 50%;
  letter-spacing: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.select {
  margin-left: 7%;
  gap: 10px;
}

.check > svg {
  /* background-color: red !important; */
}

@media screen and (max-width: 840px) {
  .select {
    margin-left: 2%;
    gap: 10px;
  }
}

.edit {
  padding: 15px 48px;
  max-width: 1600px;
}

/* @media only screen and (max-width: 400px) {
  .edit {
    width: 143vw !important;
    margin: auto;
  }
} */

.monroney--columns {
  align-content: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  /* flex-shrink: 0; */
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  max-height: calc(100vh - 115px);
  flex: 1 1 60%;
}
/* @media only screen and (min-width: 768px) and (max-width: 1599px) {
  .monroney--columns {
    gap: 0.5rem 0.5rem;
  }
} */
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .monroney--columns {
    max-height: calc(100vh + 400px);
    gap: 0.5rem 0.5rem;
  }
}

.monroney--columns > div.feature-card__wrapper {
  flex: 0 0 auto;
  width: 32%;
}
.edit__body {
  flex-wrap: wrap;
}
.monroney-govt {
  flex: 0 0 40%;
}
.monroney--columns > div:last-child {
  flex-basis: 100%;
}

.edit__body--wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  line-height: 125%;
}

.edit-body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.edit-body__header p {
  margin: 0;
}
