.login {
  width: 100vw;
  height: calc(100vh - 17px);
  background-image: url("../assets/login-bg.png");
  background-size: cover;
  display: flex;
  align-items: center !important;
  justify-content: center;
  position: relative;
}
.login-form {
  width: 200px !important;
}
.form-control {
  height: 30px !important;
}
@media only screen and (max-width: 1025px) {
  .login-form {
    margin-left: 140px;
    margin-top: -160px;
  }
}
.form-control:focus {
  box-shadow: none !important;
}
.loader {
  position: absolute;
  top: 15px;
}
.link {
  text-decoration: none !important;
  font-size: 0.7rem;
  color: rgb(237, 237, 237);
  margin-top: 5px;
}
