@page {
    size: 17in 11in;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }

  /* @page:left {
    margin-left: 1cm;
  }
  
  @page:right {
    margin-right: 1cm;
  }

  @page:top {
    margin-top: 2cm;
  }
  
  @page:bottom {
    margin-bottom: 2cm;
  } */

  .monroney--columns {
    height: 8in;
  }

  .edit-header {
    display: none;
  }
