@import url("./assets/font.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "volvo-novum-regular" !important;
  font-size: 0.875rem;
  color: black;
  font-weight: 400;
}

/* #c3d2d6 */ /* tabel-header color*/
/* #182871 --toolbar color(blue) */
/* #e8eaed -- side bar color */
