@font-face {
  font-family: "volvo-novum-regular";
  src: local("volvo"),
    url("./VolvoFonts/Volvo-Novum-Regular.woff") format("woff");
}
@font-face {
  font-family: "volvo-novum-light";
  src: local("volvo"), url("./VolvoFonts/Volvo-Novum-Light.woff") format("woff");
}
@font-face {
  font-family: "volvo-novum-medium";
  src: local("volvo"),
    url("./VolvoFonts/Volvo-Novum-Medium.woff") format("woff");
}
@font-face {
  font-family: "volvo-broad-pro";
  src: local("volvo"),
    url("./VolvoFonts/VolvoBroadProDigital.woff") format("woff");
}

.font-vn-regular {
  font-family: "volvo-novum-regular" !important;
}
.font-vn-medium {
  font-family: "volvo-novum-medium" !important;
}
.font-vn-light {
  font-family: "volvo-novum-light" !important;
}
.font-broad-pro {
  font-family: "volvo-broad-pro" !important;
  font-size: 3.75rem;
  margin-bottom: 0;
  margin-top: -0.5rem;
}
