@font-face {
  font-family: "volvo-novum-regular";
  src: local("vovlo"),
    url("./VolvoFonts/Volvo\ Novum-Regular.woff") format("woff");
}
@font-face {
  font-family: "volvo-novum-light";
  src: local("vovlo"),
    url("./VolvoFonts/Volvo\ Novum-Light.woff") format("woff");
}
@font-face {
  font-family: "volvo-novum-medium";
  src: local("vovlo"),
    url("./VolvoFonts/Volvo\ Novum-Medium.woff") format("woff");
}
@font-face {
  font-family: "volvo-broad-pro";
  src: local("vovlo"),
    url("./VolvoFonts/VolvoBroadProDigital.woff") format("woff");
}

.font-vn-regular {
  font-family: "volvo-novum-regular" !important;
}
.font-vn-medium {
  font-family: "volvo-novum-medium" !important;
}
.font-vn-light {
  font-family: "volvo-novum-light" !important;
}
.font-broad-pro {
  font-family: "volvo-broad-pro" !important;
}
